
.navbar {
    margin-bottom: 30px;
    display: flex;            /* Nutze Flexbox */
    align-items: center;      /* Zentriert die Items vertikal */
    justify-content: center;  /* Zentriert die Items horizontal */
    gap: 20px;                /* Abstand zwischen den Items */
    padding: 10px 20px;       /* Padding für die Navbar */
    width: 100%;              /* Breite der Navbar */
    box-sizing: border-box;   /* Verhindert das Überschreiten der angegebenen Breite */
    top: 0;                   /* Setzt die Navbar ganz oben */
    left: 0;                  /* Setzt sie ganz nach links */
    background-color: white;  /* Optionale Hintergrundfarbe */
}


/* Stil für das Logo */
.logo-image {
    height: 40px; /* Passe die Größe des Logos an */
    width: auto;
    margin-left: 10px; /* Abstand zwischen Text und Bild */
    border: 1px solid #ccc; /* Normaler Rand wie bei den Buttons */
    border-radius: 4px; /* Gleicher abgerundeter Rand wie bei den Buttons */
    transition: all 0.3s ease; /* Weiche Übergänge für den Rand und Hintergrund */
    cursor: pointer; /* Zeigt an, dass das Bild klickbar ist */
}

.clickable-header {
    display: flex;
    align-items: center;
    cursor: pointer; /* Zeigt an, dass der Bereich klickbar ist */
    background-color: #f9f9f9;
    border-radius: 1px; /* Optionale Abrundung für den Hover-Hintergrund */
    border: 1px solid transparent;
}

.clickable-header:hover {
    border-color: #007BFF; /* Blauer Rand beim Hover */
    background-color: #f0f0f0; /* Optional: heller Hintergrund beim Hover */
}

.header-title {
    margin: 0; /* Entfernt den Standardabstand */
}

.toggle-search-on {
    background-color: #66b3ff;
}
.toggle-search-off {
    background-color: #f0f0f0;
}