.search-bar {
    margin: 20px auto;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    height: 90px;
}

/* Container für das Suchfeld */
.mapbox-all-search-field {
    display: flex;                    /* Flexbox für horizontale Ausrichtung */
    align-items: center;              /* Vertikale Ausrichtung */
    justify-content: space-between;   /* Gleichmäßiger Abstand zwischen den Elementen */
    margin: 10px 0;                   /* Margin oben und unten */
    padding: 10px;                    /* Innenabstand */
    background-color: #f9f9f9;        /* Heller Hintergrund */
    border-radius: 6px;               /* Abgerundete Ecken */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
}

/* Das Suchfeld selbst */
.mapbox-all-search-field input {
    padding: 8px 16px;                /* Innenabstand im Input */
    font-size: 1rem;                  /* Schriftgröße */
    width: 80%;                        /* Input-Feld nimmt 70% des Containers ein */
    border: 1px solid #ccc;           /* Grauer Rand */
    border-radius: 4px;               /* Abgerundete Ecken */
    outline: none;                    /* Entfernt den Standard-Fokus-Rahmen */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Übergangseffekte */
}

/* Fokussierter Zustand des Input-Feldes */
.mapbox-all-search-field input:focus {
    border-color: #007bff;            /* Blauer Rand bei Fokus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Leuchtender Fokus-Schatten */
}

/* Button im Suchfeld */
.mapbox-all-search-field button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #66b3ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover-Zustand des Buttons */
.mapbox-all-search-field button:hover {
    background-color: #007bff;
}


.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s ease;
}

.search-bar input:focus {
    border-color: #007BFF;
    outline: none;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-buttons button {
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    transition: all 0.3s ease;
    height: 40px;
    flex: 1;
    min-width: 120px;
}

.filter-buttons button:hover {
    background-color: #f0f0f0;
}

.filter-buttons button.active {
    border: 2px solid #007BFF;
    font-weight: bold;
    background-color: #e6f0ff;
}


